@font-face {
    font-family: 'iconfont';  /* project id 580807 */
    src: url('https://at.alicdn.com/t/font_580807_hsl1zbdpwwd8to6r.eot');
    src: url('https://at.alicdn.com/t/font_580807_hsl1zbdpwwd8to6r.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_580807_hsl1zbdpwwd8to6r.woff') format('woff'),
    url('https://at.alicdn.com/t/font_580807_hsl1zbdpwwd8to6r.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_580807_hsl1zbdpwwd8to6r.svg#iconfont') format('svg');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: unset;
    text-decoration: none;
}
body {
    background: #fff;
}
#banner{
    padding: 95px 0px;
    background:url("../img/banner6.jpg") no-repeat 0px 0px;
    background-size: cover;
    min-height: 350px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.b-part1{
    text-align:center;
}
.b-part1 img{
    width:43%;
}
.b-part1 h1{
    font-size:22px;
    color:#fff;
    margin-top:15px;
}
.b-part2 h3{
    color: #fff;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}
.b-part2 h4{
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.tel{
    margin:28px 0px;
}
.b-part3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 25px;
    text-align:center;
}
.b-part3 h3{
    margin-top: 0;
}
.b-part3 .set{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    display: inline-block;
    margin: 8px 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
    text-decoration: none;
    padding: 10px;

}
.contact{
    font-family: iconfont;
}
.b-part3 .contact:hover{
    color:#4867aa;
}
.set:hover{
    color:#4867aa;
    border: 2px solid #4867aa;
}
.xinqu{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    margin:8px 10px;
}
.xinqu i{
    font-family: 'iconfont';
    font-size:20px;
    line-height:50px;
    text-align: center;
    color: #fff;
}
.b-part4{
    text-align:center;
}
.b-part4 h3{
    color:#fff;
    margin-top: 0;
}
#about{
    padding: 55px 0px;
    text-align: center;
}
.about-me{
    color: #000;
    font-size: 36px;
}
.line{
    background-color: #56b2e6;
    width: 65px;
    height: 3px;
    margin: 12px auto;
}
#about img{
    width: 10%;
    border-radius: 50%;
    margin-top: 35px;
}
.miaoshu{
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 27px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}
#skills{
    background: url("../img/skillsbg.jpg") no-repeat 0px 0px;
    text-align: left;
    background-size: cover;
    padding: 55px 0px;

}
#skills h3{
    text-align: center;
    color:#fff;
    font-size: 36px;
}
.s-text{
    font-size: 14px;
    line-height: 27px;
    color: #d0d0d0;
    margin: 23px 0px;
}
#skills h4{
    color: #fff;
    font-size: 23px;
    text-align: left;
}
.skills-left,.skills-right{
    margin-top: 70px;
}
.skill-line{
    width: 100%;
    height: 10px;
    margin-bottom: 28px;
    background: #fff;
    position: relative;
}
#skills .title{
    color: #fff;
}
.line1,.line2,.line3,.line4{
    width: 80%;
    height: 10px;
    background: #56b2e6;
}
.line2{
    width:85%;
}
.line3{
    width: 75%;
}
#portfolio{
    padding: 55px 0px;
    text-align: center;
}
#portfolio h3{
    font-size: 36px;
    color: #000;
    text-align: center;
}
.por-item{
    width: 100%;
}
.por-img{
    margin-top:40px;
}
.item1{
    background: #F58703;
    overflow: hidden;
    position: relative;
    border: 3px solid #ccc;
}
.item1 img{
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.5s;
}
.move{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.grids{
    margin-bottom: 30px;
}
.item1:hover img,.item1:hover a{
    transform:translateY(-60px);
}
.move a{
    display: block;
    position: absolute;
    bottom:-60px;
    left: 0;
    padding: 13px 30px;
    color: #fff;
    font-size: 18px;
    transition: all 1s;
    text-decoration: none;
}
#contact{
    background: url("../img/contactbg.jpg") no-repeat 0px 0px;
    background-size: cover;
}
#contact h3{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.contact-item{
    margin-top:40px;
    text-align: center;
}
.contact-item h4{
    font-size:17px;
    color: #c7c7c7;
    margin:10px 0px;
}
.contact-item i{
    font-family: iconfont;
    font-size:20px;
    color:#c7c7c7;
}
.contact-item a{
    color:#c7c7c7;
}
form{
    width: 78%;
    margin: 30px auto 0 auto;
}
input[type="text"]{
    width: 48%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px dotted #fff;
    outline: none;
    color: #fff;
}
textarea{
    margin: 20px 0px;
    padding: 10px;
    width: 98%;
    height: 150px;
    resize: none;
    background: rgba(255, 255, 255, 0.15);
    border: 1px dotted #fff;
    outline: none;
    color: #fff;
}
input[type="submit"]{
    background: transparent;
    padding: 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    margin:0 auto;
    transition: all 0.5s;
}
input[type="submit"]:hover{
    border:1px solid #f60;
    color: #f60;
}
